bam
.bam
config.lua
datasrc/__pycache__
datasrc/*.pyc
objs
src/game/generated
SDL.dll
freetype.dll
autoexec.cfg

crapnet
dilate
fake_server
map_resave
map_version
mastersrv
packetgen
teeworlds
teeworlds_srv
tileset_borderfix
versionsrv

crapnet_d
dilate_d
fake_server_d
map_resave_d
map_version_d
mastersrv_d
packetgen_d
teeworlds_d
teeworlds_srv_d
tileset_borderfix_d
versionsrv_d
